<div class="container">
  <br/><br/><br/>
  <div class="row">
    <table class="table table-bordered table-striped" style="text-align: center;">
      <thead style="color:#ea7f7f">
        <tr>
          <th scope="col">کاربر</th>
          <th scope="col">عنوان</th>
          <th scope="col">تاریخ ارجاع</th>
          <th scope="col">وضعیت</th>
        </tr>
      </thead>
      <tbody *ngFor="let toDo of toDos">
        <tr>
          <td>{{toDo.username}}</td>
          <td>{{toDo.taskName}}</td>
          <td>{{toDo.taskDate}}</td>
          <td><input type="checkbox" checked="{{toDo.finish}}" /></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination
          [boundaryLinks]="true"
          [totalItems]="pagination.totalItems"
          [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage"
          (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>

