<div class="sidenav right">
         <div class="login-main-text ">
            <h2>ToDo App</h2>
            <img src="../../assets/Irantalent-header-logo.png">
         </div>
  </div>
  <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
              <div *ngIf="saveState != '0'">
                <ng-container *ngIf="saveState == '1'; else elseTemplate">
                  <div class="alert alert-success">
                    <strong>خوش آمدید</strong>
                  </div>
                </ng-container>
                <ng-template #elseTemplate>
                  <div class="alert alert-danger">
                    <strong>نام کاربری یا کلمه عبور صحیح نیست</strong>
                  </div>
                </ng-template>
              </div>
              <form #loginForm="ngForm" (ngSubmit)="login()" style="text-align: right;direction: rtl;">

                <div class="form-control-group">
                  <label class="label" >نام کاربری</label>
                  <input class="form-control mr-sm-2" type="text" name="username" required
                  [(ngModel)]="model.username">
                </div>

                <div class="form-control-group">
                  <span class="label-with-link">
                    <label class="label" >کلمه عبور</label>
                  </span>
                  <input class="form-control mr-sm-2" type="password" name="password" required
                  [(ngModel)]="model.password">
                </div>
                <br/>
                <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">ورود </button>
              </form>
            </div>
         </div>
  </div>
